PGADMIN_HOST_NAME=pgadmin.localhost
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=pgadmin@example.com
PGADMIN_DEFAULT_PASSWORD=pgadmin2025

# Dev/testing settings
PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION=False
PGADMIN_CONFIG_WTF_CSRF_CHECK_DEFAULT=False
PGADMIN_CONFIG_WTF_CSRF_ENABLED=False

# Production settings
# PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION=True
# PGADMIN_CONFIG_WTF_CSRF_CHECK_DEFAULT=True
# PGADMIN_CONFIG_WTF_CSRF_ENABLED=True